.listing_assets {
    border: 1px solid gray;
    padding: 9px;
    margin: 12vh auto;
    width: 80%;
    position: relative;
    transition: 1s;
}

.listing_assets img {
    width: 100%;
    height: 24vh;
    object-fit: fill;
    transition: 1s;
}

.listing_assets:hover>.img img {
    object-fit: cover;
}

.listing_assets .prop_details {
    margin: 1vh auto;
    width: 98%;
    font-family: "Kanit", sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
}

.listing_assets .prop_features ul li {
    margin: 6px auto;
    width: 98%;
    font-family: "Kanit", sans-serif;
    font-size: 15px;
    font-weight: 300;
    list-style-type: none;
    text-transform: capitalize;
}

.listing_assets .prop_features ul li::before {
    content: "\2022";
    display: inline-block;
    width: 1em;
    font-weight: bolder;
    font-size: 15px;
    // color: #ff9900;
    color: black;
}

.listing_assets .prop_features ul li span {
    margin: 0 9px 0 0;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

.edit_delete_btn {
    margin: 6px auto 0 auto;
    justify-content: space-between;
}

.edit_delete_btn .edit {
    border: 3px solid black;
    border-radius: 50%;
    padding: 3px;
}

.edit_delete_btn .delete {
    border: 3px solid black;
    border-radius: 50%;
    padding: 3px;
}