// navigation start
.navigation {
    width: 100vw;
    height: 60px;
    position: fixed;
    box-shadow: 1px 1px 3px gray;
}

.for_mobile {
    width: 90vw;
    justify-content: space-between;
}

.profile_link {
    border: 3px solid red;
    border-radius: 50%;
    width: fit-content;
    background-color: red;
}

.profile_link>a .MuiSvgIcon-root {
    font-size: 30px;
    font-weight: 900;
    color: snow;
}

.navigation_section {
    border-right: 6px solid snow;
    width: 60vw;
    height: 100vh;
    background-color: rgb(255, 233, 233);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out 0s;
    z-index: 4;
}

.navigation_section.overlay {
    transform: translateX(0px);
}

.navigation_links {
    margin: 60px auto;
    height: 360px;
    padding: 0 12px;
}

.navigation_links a {
    border: 3px solid snow;
    border-radius: 3vw;
    margin: 1em auto;
    padding: .5em .6em;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: snow;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    font-weight: bold;
}

// Menu Icon Start

.menu_icon {
    z-index: 9;
}

.hamburger {
    // padding: 3px 3px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.9;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: black;
}

.hamburger-box {
    margin-top: 2px;
    outline: 0px;
    width: 30px;
    height: 20px;
    display: inline-block;
}

.hamburger-inner {
    display: block;
    top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 21px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -9px;
}

.hamburger-inner::after {
    bottom: -9px;
}


.hamburger--3dx .hamburger-box {
    perspective: 90px;
}

.hamburger--3dx .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
        background-color 0s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
    background-color: transparent !important;
    transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 9px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -9px, 0) rotate(-45deg);
}

// Menu Icon End




