.create_list {
    padding-top: 10vh;
}

.heading {
    // border: 3px solid blue;
    width: 270px;
    // text-align: center;
}

.heading h1 {
    font-family: 'Kanit', sans-serif;
    // font-family: 'Source Code Pro', monospace;
    color: rgb(90, 90, 90);
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_elements {
    // border: 2px solid blue;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_elements input {
    border: 3px solid red;
    border-radius: 9px;
    padding: 3px 9px;
    width: 270px;
    height: 45px;
    box-shadow: 1px 1px 6px gray;
    font-family: 'Kanit', sans-serif;
    color: red;
}

.list_elements .regular_price {
    width: 190px;
}

.list_elements .discount_price {
    width: 190px;
}

.list_elements textarea {
    border: 3px solid red;
    border-radius: 9px;
    padding: 3px 9px;
    width: 270px;
    height: 90px;
    box-shadow: 1px 1px 6px gray;
    font-family: 'Kanit', sans-serif;
    color: red;
}

.list_elements>.type_file {
    padding: 9px;
}

.form_buttons {
    // border: 2px solid yellowgreen;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: "Agdasima", sans-serif;
    font-weight: bold;
}

.form_buttons>button {
    border: 3px solid snow;
    width: 90px;
    height: 36px;
    box-shadow: 1px 1px 6px gray;
    font-family: "Agdasima", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(99, 99, 255);
}

.submit_button {
    border-radius: 9px;
    width: 270px;
    height: 45px;
    color: snow;
    background-color: red;
    font-family: "Agdasima", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 1px 1px 6px gray;
}

.sell_btn {
    background-image: linear-gradient(to right, red, rgb(250, 26, 64));
}

.sell_back {
    background-color: rgb(99, 99, 255);
}