.nav_top {
    border: 1px solid transparent;
    height: 9vh;
    background-color: darkblue;
    position: relative;
    z-index: 999 !important;
}

.nav_elements {
    border: 1px solid transparent;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    justify-content: space-between;
}

.nav_elements .logo {
    color: snow;
}

.nav_button {
    border-radius: 6px;
    padding: 0.6vh 1vh;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.nav_links {
    border: 1px solid transparent;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transform: translateX(-100vw);
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav_links.open {
    transform: translateX(0);
}

.nav_options {
    border: 1px solid transparent;
    width: 50vw;
    height: 100%;
    background-color: black;
    color: snow;
}

.nav_overlay {
    border: 3px solid transparent;
    width: 50vw;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}