.navigation_top {
    border: 1px solid transparent;
    height: 9vh;
    position: relative;
}

.navigation_top>.navigation_elements {
    border: 1px solid transparent;
    width: 100vw;
    height: 9vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999 !important;

    background-color: darkblue;
}

.navigation_top>.navigation_elements>.logo_menu {
    border: 1px solid transparent;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    justify-content: space-between;
}

.navigation_top>.navigation_elements>.logo_menu>.menu_button {
    border: 2px solid transparent;
    width: 70px;
}

.navigation_top>.navigation_elements>.logo_menu>.menu_button>button {
    border-radius: 6px;
    outline: none;
    padding: 0.3vh 0.6vh 0.3vh 1.2vh;
    width: 100%;
    height: 9%;
    background-color: black;
    color: snow;
    text-transform: uppercase;

    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 80%;
    letter-spacing: 3px;
}

.navigation_top>.navigation_elements>.logo_menu>.menu_button>button:active {
    background-color: gray;
}

.navigation_links {
    border: 0px solid transparent;
    width: 0vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998 !important;

    transform: translateX(-100%);
    transition: 0.1s;
    /* transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}

.navigation_links.navigation_overlay {
    width: 100vw;
    transform: translateX(0%);
}

.navigation_links>.nav_link {
    border: 3px solid transparent;
    width: 50%;
    height: 100%;
    background-color: black;
}

.navigation_links .box_overlay {
    border: 3px solid transparent;
    width: 50%;
    height: 100%;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}