.navigation_top {
    /* border: 3px solid red; */
    height: 9vh;
    position: fixed;

    z-index: 999;
}

.navigation_top>.navigation_elements {
    border: 3px solid transparent;
    width: 100vw;
    height: 9vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999 !important;

    background-color: darkblue;
}

.navigation_top>.navigation_elements>.logo_menu {
    border: 1px solid transparent;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    justify-content: space-between;
}

.navigation_top>.navigation_elements>.logo_menu>.menu_button {
    border: 2px solid transparent;
    width: 70px;
}

.navigation_top>.navigation_elements>.logo_menu>.menu_button>button {
    border-radius: 9px;
    outline: none;
    padding: 0.6vh 1vh 0.6vh 1.3vh;
    width: fit-content;
    width: -moz-fit-content;
    background-color: black;
    color: snow;
    text-transform: uppercase;
    text-align: center;

    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 80%;
    letter-spacing: 3px;
}

.navigation_top>.navigation_elements>.logo_menu>.menu_button>button:active {
    background-color: gray;
}

.navigation_links {
    border: 0px solid transparent;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998 !important;

    transform: translateX(-110%);
    transition: 0.1s;
    /* transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); */

    z-index: 4;
}

.navigation_links.navigation_overlay {
    transform: translateX(0%);
    /* width: 100vw; */
}

.navigation_links>.nav_link {
    border: 3px solid snow;
    width: 50%;
    height: 100%;
    background-color: black;
}

.navigation_links>.nav_link>.links_conatainer {
    border: 1px solid snow;
    margin: 10vh auto;
}

.navigation_links>.nav_link>.links_conatainer>.nav_link_options {
    border: 1px solid snow;
    margin: 1vh auto;
    padding: 1vh;
    width: 90%;
}

.navigation_links>.nav_link>.links_conatainer>.nav_link_options>a {
    color: snow;
}

.navigation_links .box_overlay {
    border: 0px solid transparent;
    width: 50%;
    height: 100%;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(4px);
}



.hamburger {
    /* padding: 3px 3px; */
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.9;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: black;
}

.hamburger-box {
    margin-top: 2px;
    outline: 0px;
    width: 30px;
    height: 20px;
    display: inline-block;
}

.hamburger-inner {
    display: block;
    top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 21px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -9px;
}

.hamburger-inner::after {
    bottom: -9px;
}

.hamburger--3dx .hamburger-box {
    perspective: 90px;
}

.hamburger--3dx .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
        background-color 0s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
    background-color: transparent !important;
    transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 9px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -9px, 0) rotate(-45deg);
}