.top_navigation {
    border: 3px solid blue;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.nav_button {
    border: 3px solid green;
}

.menu_links {
    border: 3px solid black;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    /* Initially hidden off-screen */
    transition: transform 0.3s ease-in-out;
}

.menu_links.open {
    transform: translateX(0);
    /* Slide in when open */
}

.nav_overlay {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    /* Ensure it's above the menu */
}